@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --inputBg: "#F4F4F5";
  --primary: "#09090B";
  --secondary: "#030711";
  --slight: "#1D283A";
  --input: "#E4E4E7";
  --secondary: "#1D283A";
}


[data-theme="dark"] {
  background-color: #030711;
}

body {
  background-color: white;
}

.dark body {
  background: #030711;
}

/* cursor selector */
::-moz-selection {
  /* Code for Firefox */
  background: #030711;
  color: white;
}

::selection {
  background: #030711;
  color: white;
}

.dark ::-moz-selection {
  /* Code for Firefox */
  background: white;
  color: #030711;
}

.dark ::selection {
  background: white;
  color: #030711;
}