@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* default theme */
  /* --background: white;
  --foreground: black; */
}

/* [data-theme="dark"] body {
  background-color: #030711;
  --foreground: white;
}

body {
  background-color: white;
} */
